.shop-car {
  background-color: chocolate;
  min-width: 450px;
  max-height: 550px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.shop-car-title {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  justify-items: center;
}

.table {
  background-color: yellow;
  min-height: 400px;
}

.shop-car-footer {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  justify-items: center;
}

.pokecar-items {
  height: 100%;
}

.shop-car-items-item {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
