* {
  margin: 2px;
  padding: 0;
  box-sizing: border-box;
  font-family: "Do Hyeon", sans-serif;
}

body {
  background: linear-gradient(to right, #030303, #dbdbdd);
}

.group {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
}
